<section class="item">
    <div class="title comment">
        <h3>Add a Comment</h3>
    </div>
{{! Comment Form }}
<form id="add-comment-form" >
    <div>
        <label for="comment-body">Comment</label>
        <textarea name="comment-body" class="text-box"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form>
</section>