{{!-- list of user posts --}}
<h1>DASHBOARD</h1>
<div>
    <a href="/dashboard/add-post">Create a Post</a>
</div>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{!-- display list of user posts --}}
    {{#each posts as |post|}}
    <li>
      {{!-- display single post --}}
        <article>
        <div>
            <a href="dashboard/post/{{id}}">{{title}}</a>
        </div>
        <div>
            posted on {{format_date created_at}}
        </div>
        </article>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<section>
  <a href="/dashboard/comments/"><h3> Click here to view your comments</h3></a>
</section>
