{{!-- edit post form --}}
<article class="item">
  <div class="title form">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="content">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" class="text-box"/>
    </div>
    <div>
      <label for="post0-content">Content</label>
      <textarea name="post-content" class="text-box post-content">{{post.post_content}}</textarea>
    </div>
      <button type="submit" id="edit-post-btn" class="btn">Update post</button>
      <button type="button" id="delete-post-btn" class="btn long">Delete post</button>
  </form>
</article>

{{!-- js scripts --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>

