{{!-- log in form --}}
<section class="item">
    <div class="title form">
        <h2>Login</h2>
    </div>
    <form id="login" class="content">
    <div>
        <label for="username-login">Username</label>
        <input type="text" id="username-login" class="text-box"/>
    </div>
    <div>
        <label for="password-login">Password</label>
        <input type="password" id="password-login" class="text-box"/>
    </div>
    <div>
        <button type="submit" class="btn">login</button>
    </div>
    </form>
    {{!-- sign-up link --}}
    <div class="signup-link">
        <a href="/sign-up">
            <h3>Not yet a blogger? Click here to sign-up!</h3>
        </a>
    </div>
</section>
<script src="/javascript/login.js"></script>