{{!-- sign-up form --}}
<section class="item">
    <div class="title form">
        <h2>Sign-up</h2>
    </div>
    <form id="sign-up" class="content">
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" class="text-box"/>
        </div>
        <div>
            <label for="email-signup">Email</label>
            <input type="text" id="email-signup" class="text-box"/>
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" class="text-box"/>
        </div>
        <div>
            <button type="submit" class="btn">sign-up</button>
        </div>
    </form>
    {{!-- log0in link --}}
    <div class="signup-link">
        <a href="/login">
            <h3>Already a blogger? Click here to login!</h3>
        </a>
    </div>
</section>
<script src="/javascript/sign-up.js"></script>