{{!-- import single post partial--}}
<div class="item">
    {{> post-info post}}
</div>

{{#if loggedIn}}
{{!-- comment form --}}
{{> add-comment}}
{{/if}}

{{!-- import list of comments partial --}}
{{> post-comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}
