{{#if loggedIn}}
{{!-- import display single post partial --}}
{{> post-info post}}
<a href="/dashboard/edit/{{post.id}}">Edit post</a>
<button type="button" id="delete-post-btn">Delete post</button>

{{> add-comment}}

 <h3>{{post.comments.length}} {{format_plural "comment" post.comments.length}}</h3>
{{!-- import list of comments partial --}}
{{> post-comments post.comments}}

{{!-- js scripts --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/add-comment.js"></script>
{{/if}}


